#awaw {font-size:75px; 
background-color:red;
   display: inline;
   margin-bottom: 50px;
}
.aeae{
    background-color: blue;
    font-size: 23px;
}
.eaea{background-color: ;}
tr{background-color: rgb(146, 182, 216); 
font-size: 20px;
}
#acax{color: rgb(0, 255, 200);
font-size: 45px;
}
table{height: 2000px;}