#awaw {font-size:75px; 
background-color:red;
   display: inline;
   margin-bottom: 50px;
}
.aeae{
    background-color: rgb(0, 204, 255);
    font-size: 23px;
}
.eaea{background-color: ;}
tr{background-color: rgb(86, 169, 247); 
font-size: 20px;
}
#acax{color: rgb(0, 0, 0);
font-size: 50px;
}
table{height: 2000px;}
meta{font-size: 16px;}
title{font-size: 25px;}